.page {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
    
    min-height:100vh;
}

::deep .icon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-mask-position: center center;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

::deep .icon-menu {
    -webkit-mask-image: url("images/menu.svg");
    mask-image: url("images/menu.svg");
    background-color: gray;
}

::deep .navigation-drawer {
    --dxbl-drawer-panel-footer-justify-content: center;
    height: calc(100vh - 3.5rem);
    max-height: 100%;
}

::deep .dxbl-drawer .dxbl-drawer-content {
    padding: 0rem 0rem !important;
}

::deep .dxbl-drawer > .dxbl-drawer-panel > .dxbl-drawer-body {
    --dxbl-drawer-panel-body-padding-x: 0;
    --dxbl-drawer-panel-body-padding-y: 1rem;
}

::deep .dxbl-drawer .dxbl-drawer-panel {
    background-image: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-black) 150%);
}

::deep .menu-button:hover .icon {
    background-color: var(--dxbl-btn-hover-color);
}

.menu-button {
    background-image: url("images/close.svg");
    width: 1.875rem;
    height: 1.875rem;
}

.dxbl-btn-standalone .dxbl-btn-text-dark {
    color: white;
}

::deep .dxbl-btn-standalone .dxbl-btn-text-light .dxbl-btn-icon-only {
    vertical-align: middle;
}

::deep .dxbl-btn-standalone.dxbl-btn-text-light.dxbl-btn-icon-only {
    --dxbl-btn-padding-x: 0.375rem;
    --dxbl-btn-padding-y: 0.375rem;
    vertical-align: middle;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

::deep .navigation-drawer > .dxbl-drawer-panel {
    display: flex;
}
::deep.page:has(.navbar-toggler:not(:checked)) .navigation-drawer:not(.mobile) > .dxbl-drawer-panel {
    width: 0 !important;
}
::deep .navigation-drawer.mobile > .dxbl-drawer-panel {
    display: none;
}
::deep .navigation-drawer.mobile > .dxbl-drawer-shading {
    display: none;
}
@media (max-width: 768px) {
    ::deep .navigation-drawer > .dxbl-drawer-panel {
        display: none;
    }

    ::deep .navigation-drawer.mobile > .dxbl-drawer-panel {
        display: flex;
    }

    ::deep.page:has(.navbar-toggler:checked) .navigation-drawer.mobile > .dxbl-drawer-panel {
        width: 0 !important;
    }

    ::deep .navigation-drawer.mobile > .dxbl-drawer-shading {
        display: block;
    }

    ::deep.page:has(.navbar-toggler:checked) .navigation-drawer.mobile > .dxbl-drawer-shading {
        display: none;
    }

    .navbar-toggler:checked .menu-button {
        background-color: gray;
    }

    .navbar-toggler:checked {
        background-color: gray;
    }

    .navbar-toggler:checked .shading-copy {
        opacity: 0;
        visibility: unset;
        height: unset;
    }
}
